
dist
.solid
.output
.vercel
.netlify
netlify
.wrangler
wrangler.toml
wrangler2.toml
.env
.vinxi

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore
sqlite.db

# System Files
.DS_Store
Thumbs.db
